<% layout("/layouts/boilerplate") %>
<body>
  <section id="about-section">
    <div class="about">
      <div class="about-cont">
        <h1>About us</h1>
        <p style="font-size: 20px">
          At Agribuzz, we are revolutionizing agriculture with the power of AI
          and cutting-edge technology. Our mission is to empower farmers,
          agronomists, and agricultural businesses with the tools they need to
          optimize their operations, enhance productivity, and make data-driven
          decisions. We provide advanced solutions for weather prediction, and
          crop management, helping you stay ahead of the curve in an
          ever-changing environment. With Agribuzz, you can access real-time
          insights, monitor crop health, and receive personalized
          recommendations tailored to your specific needs. Join us on our
          journey to create a more sustainable, efficient, and resilient
          agricultural ecosystem. At Agribuzz, we're not just about farming;
          we're about shaping the future of agriculture.
        </p>
      </div>

      <img class="about-img" src="/static/images/about.jpg" />
    </div>
  </section>

  <section id="service-section">
    <div class="services block">
      <h1>Services</h1>
      <br />
      <div class="row cards">
        <div class="card col-3">
          <div class="card-body">This is some text within a card body.</div>
        </div>
        <div class="card col-3">
          <div class="card-body">This is some text within a card body.</div>
        </div>
        <div class="card col-3">
          <div class="card-body">This is some text within a card body.</div>
        </div>
        <div class="card col-3">
          <div class="card-body">This is some text within a card body.</div>
        </div>
      </div>
    </div>
  </section>

  <section id="team-section">
    <div class="team block">
      <h1>Our Team</h1>
      <br /><br />
      <div class="cards">
        <div class="card team-card" style="width: 18rem">
          <img src="/static/images/about.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact-section">
    <div class="contact block">
      <img src="/static/images/contact-img.jpg" />

      <form class="contact-form">
        <div class="form-fields">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >First Name</label
            >
            <input
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter first name"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter last name"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter email address"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleInputEmail1"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </section>
</body>
