<div class="container d-flex justify-content-center align-items-center my-3rem">
  <div class="row w-100">
    <div class="col-md-6 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Login</h3>
          <form action="/user/login" method="post">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter password"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Log In
            </button>
          </form>
          <div class="text-center mt-3">
            <a href="#">Forgot your password?</a>
          </div>
          <div class="text-center mt-2">
            <a href="#">Don't have an account? Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
